<!-- Modal -->
<div class="modal fade" id="modalCerebroAdd" #modalCerebroAdd tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Cerebro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="position-relative form-group">
                    <label for="Description">Descripcion</label>
                    <input [(ngModel)]='Description' name="Description" id="Description" placeholder="Introduzca la descripcion del cerebro" type="text" class="form-control form-control-sm">
                </div>
                <div class="position-relative form-group">
                    <label for="Flavor">Sabor</label>
                    <select [(ngModel)]='Flavor' name="Flavor" id="Flavor" placeholder="Introduzca el sabor" class="form-control form-control-sm">
                        <option>Dubalin</option>
                        <option>Minecraft</option>
                        <option>Electrico</option>
                        <option>Humano</option>
                        <option>Repollo</option>
                    </select>
                </div>
                <div class="position-relative form-group">
                    <label for="Price">Precio</label>
                    <input [(ngModel)]='Price' name="Price" id="Price" placeholder="Introduzca el precio" type="number" class="form-control form-control-sm">
                </div>
                <div class="position-relative form-group">
                    <label for="Picture">Imagen</label>
                    <input [(ngModel)]='Picture' name="Picture" id="Picture" placeholder="Introduzca la URL de la imagen" type="url" class="form-control form-control-sm">
                </div>
            </div>

            <div *ngIf="errorFlavor" class="mb-3 card text-white card-body bg-danger">
                <h5 class="text-white card-title">Sabor</h5>{{error.error.Mensaje.Flavor.message}}</div>

            <div *ngIf="errorDescription" class="mb-3 card text-white card-body bg-danger">
                <h5 class="text-white card-title">Descripcion</h5>{{error.error.Mensaje.Description.message}}</div>

            <div *ngIf="errorPrice" class="mb-3 card text-white card-body bg-danger">
                <h5 class="text-white card-title">Precio</h5>{{error.error.Mensaje.Price.message}}</div>

            <div *ngIf="errorPicture" class="mb-3 card text-white card-body bg-danger">
                <h5 class="text-white card-title">Imagen</h5>{{error.error.Mensaje.Picture.message}}</div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button (click)="agregarCerebro()" type="button" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>