<app-title></app-title>

<div class="col-lg-6">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">Simple table</h5>
            <table class="mb-0 table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let zombie of zombies; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{ zombie.Name }}</td>
                        <td>{{ zombie.Mail }}</td>
                        <td>{{ zombie.Type }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>