<div class="row">
    <div class="col-md-6">
        <div class="card main-card mb-3">
            <div class="card-header">
                Grafica de cerebros en venta
            </div>
            <div class="card-body">
                <app-bar-chart></app-bar-chart>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card main-card mb-3">
            <div class="card-header">
                Grafica de cerebros que tienes en venta
            </div>
            <div class="card-body">
                <app-bar-chart-user></app-bar-chart-user>
            </div>
        </div>
    </div>
</div>