<!-- Modal -->
<div class="modal fade" id="modalCerebroRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Opciones de compra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="position-relative form-group">
                    <label for="Envio">Sabor</label>
                    <select [(ngModel)]='Envio' name="Envio" id="Envio" placeholder="Seleccione el tipo de envio..." class="form-control form-control-sm">
                        <option>BRONZE</option>
                        <option>SILVER</option>
                        <option>GOLD</option>
                    </select>
                </div>
                <div class="position-relative form-group">
                    <label for="Monto">Cantidad</label>
                    <input [(ngModel)]='Monto' name="Monto" id="Monto" placeholder="Introduzca la cantidad" type="number" class="form-control form-control-sm">
                </div>
                <div *ngIf="fechaShow">
                    <small class="text-muted">(tiempo estimado de entrega)</small>
                    <p>{{date}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="mb-2 mr-2 btn btn-light" (click)="mostrarFecha()">Calcular Tiempo de llegada</button>
                <button type="button" class="btn btn-primary" (click)="ordenar()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>